<span class="esm-header">
  <h2>{{ title }}</h2>
  <mat-divider class="esm-divider"></mat-divider>
</span>

<mat-dialog-content class="mat-typography">
  <form class="esm-form" [formGroup]="employeeForm" (ngSubmit)="onSaveEmployeeDetails()">
    <div class="esm-fields">
      <mat-form-field class="esm-full-width">
        <mat-label>Employee ID</mat-label>
        <input type="text" matInput [formControl]="idFormControl" [errorStateMatcher]="matcher" placeholder="e0001">
        <mat-error *ngIf="idFormControl.hasError('login') && !idFormControl.hasError('required')">
          Please enter ID
        </mat-error>
        <mat-error *ngIf="idFormControl.hasError('required')">
          ID is <strong>required</strong>
        </mat-error>
      </mat-form-field>
    </div>
    <div class="esm-fields">
      <mat-form-field class="esm-full-width">
        <mat-label>Employee Login</mat-label>
        <input type="text" matInput [formControl]="loginFormControl" [errorStateMatcher]="matcher" placeholder="johndoe">
        <mat-error *ngIf="loginFormControl.hasError('login') && !loginFormControl.hasError('required')">
          Please enter a login name
        </mat-error>
        <mat-error *ngIf="loginFormControl.hasError('required')">
          Login is <strong>required</strong>
        </mat-error>
      </mat-form-field>
    </div>
    <div class="esm-fields">
      <mat-form-field class="esm-full-width">
        <mat-label>Employee Name</mat-label>
        <input type="text" matInput [formControl]="nameFormControl" [errorStateMatcher]="matcher" placeholder="John Doe">
        <mat-error *ngIf="nameFormControl.hasError('name') && !nameFormControl.hasError('required')">
          Please enter employee full name
        </mat-error>
        <mat-error *ngIf="nameFormControl.hasError('required')">
          Full name is <strong>required</strong>
        </mat-error>
      </mat-form-field>
    </div>
    <div class="esm-fields">
      <mat-form-field class="esm-full-width">
        <mat-label>Employee Salary</mat-label>
        <input type="number" matInput [formControl]="salaryFormControl" [errorStateMatcher]="matcher" placeholder="3500.00">
        <mat-error *ngIf="salaryFormControl.hasError('salary') && !salaryFormControl.hasError('required')">
          Please enter employee salary
        </mat-error>
        <mat-error *ngIf="salaryFormControl.hasError('required')">
          Salary is <strong>required</strong>
        </mat-error>
      </mat-form-field>
    </div>

    <div mat-dialog-actions>
      <button mat-button class="esm-save-btn" [disabled]="!employeeForm.valid">Save</button>
    </div>
  </form>

</mat-dialog-content>