<mat-sidenav-container class="esm-container" [hasBackdrop]="sidenav.opened">
    <mat-sidenav class="esm-sidenav" #sidenav mode="side" [(opened)]="opened" (opened)="events.push('open!')" (closed)="events.push('close!')">
        <img class="esm-user-img" src="assets/empty_user.png" />
        <p class="esm-username">Admin</p>

        <button mat-button class="esm-sidenav esm-sidenav-border menu-button" (click)="sidenav.close()" [routerLink]="item.link" *ngFor="let item of listItems">
            <mat-icon>{{item.icon}}</mat-icon>
            <span>{{item.linkTitle}}</span>
        </button>
    </mat-sidenav>

    <mat-sidenav-content>
        <div class="esm-header">
            <a #hasBackdrop (click)="sidenav.toggle()"><mat-icon class="material-icons-round esm-menu">menu_open</mat-icon></a>
            <span> Employee Salary Management</span>
        </div>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>