table {
    border-collapse: collapse;
    width: 100%;

    th {
        background-color: #c50909;
        color: #ffff;
        width: 150px;
        border: 2px solid #c50909;
    }
    
}

td {
    width: 150px;
    text-align: left;
    padding: 5px;
    background-color: #f5f5f5;
}

tr {
    border-radius: 1em;
}

.esm-td {
    border-right: hidden;
    width: 32px;
    height: 5em;
    text-align: center;
}

.esm-td:first-child {
    text-align: center;
}

@media (min-width:600px) {
    .esm-table {
        border-collapse: separate;
        border-spacing: 0 15px;
        padding-left: 5em;
        padding-right: 5em;
    }

    .esm-filter {
        padding-left: 5em;
        padding-top: 15px;
        padding-bottom: 15px;
    }

    .esm-filter-label {
        padding: 1em;
        font-style: italic;
    }

    mat-slider {
        width: 85%;
    }

    .esm-slider-div {
        padding-left: 1em;
        padding-right: 1em;
    }

    .esm-header {
        margin-left: 40px;
        color: #c50909;
    
        h2 {
            margin-left: 40px;
        }
    }

    .esm-img-th:first-child {
        max-width: 30px;
        text-align: center;
    }

    .esm-paginator {
        padding-right: 5em;
    }
}

@media (max-width:415px) {
    .esm-table {
        border-collapse: separate;
        border-spacing: 0 15px;
        margin-left: 10px;
        padding-right: 10px;
    }

    .esm-filter {
        padding-left: 1em;
        padding-top: 10px;
        padding-bottom: 10px;
        margin-right: 10px;
    }

    .esm-filter-label {
        padding: 5px;
        font-style: italic;
    }

    mat-slider {
        width: 95%;
    }
    
    .esm-slider-div {
        padding-left: 1em;
        padding-right: 1em;
    }

    .esm-header {
        color: #c50909;
        
        h2 {
            margin-left: 1em;
        }
    }

    .esm-img-th:first-child {
        max-width: 30px;
        text-align: center;
    }

    .esm-paginator {
        padding-right: 1em;
    }
}

.esm-tbl-header {
    text-align: left;
    width: 32px;
    // border: 1px solid #c50909;

    ::ng-deep .mat-sort-header-arrow {
        color: #fff;
    }
}

td.mat-cell {
    padding: 7px;
}

td.mat-cell:first-child {
    border-left: 2px solid #d6d4cf;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}

td.mat-cell:last-child {
    border-right: 2px solid #d6d4cf;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}

.mat-header-cell {
    font-size: 15px;
}

.esm-usr-img {
    height: 35px;
    width: 35px;
}
