table {
    border-collapse: collapse;
    width: 100%;
}

th {
    // background-color: #c50909;
    color: #c50909;
    width: 150px;
}

td {
    width: 150px;
    text-align: left;
    padding: 5px;
    background-color: #f5f5f5;
}

tr {
    border-radius: 1em;
}

.esm-td {
    border-right: hidden;
    width: 32px;
    height: 5em;
}

@media (min-width:600px) {
    .esm-table {
        border-collapse: separate;
        border-spacing: 0 15px;
        padding-left: 5em;
        padding-right: 5em;
    }
}

@media (max-width:415px) {
    .esm-table {
        border-collapse: separate;
        border-spacing: 0 15px;
        margin-left: 10px;
        margin-right: 10px;
    }
}

.esm-tbl-header {
    text-align: left;
    width: 32px;
    // border: 1px solid #c50909;
}

.esm-header {
    margin-left: 40px;
    color: #c50909;

    h2 {
        margin-left: 40px;
    }
}

td.mat-cell {
    padding: 7px;
}

td.mat-cell:first-child {
    border-left: 2px solid #d6d4cf;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}

td.mat-cell:last-child {
    border-right: 2px solid #d6d4cf;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}

.mat-header-cell {
    font-size: 15px;
}

.esm-usr-img {
    height: 35px;
    width: 35px;
}

mat-slider {
    width: 300px;
}